body {
    background-color: white;
    color: black;
}

#navbar {
    margin-bottom: 10px;
    background-color: #38447A;
}

.btn-icon {
    vertical-align: middle;
}

.group-list-item {
    margin-bottom: 10px;
}

.group-list-item:hover {
    border: 1px solid #38447A;
}

.group-detail-item {
    margin-bottom: 10px;
}

a.group-link,
a.group-link:hover {
    color: inherit;
    text-decoration: none;
}